.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-layout-sider-children {
  padding-bottom: 401px;
}
svg {
  font-size: 30px;
}
th.ant-table-cell {
  background: #e6f86d;
}
aside.ant-layout-sider.ant-layout-sider-dark {
  flex: 0 0 200px;
  max-width: 136px !important;
  min-width: 108px !important;
  width: 122px !important;
  box-shadow: 8px 10px #8b8f64;
}

aside.ant-layout-sider.ant-layout-sider-dark {
  background: #808080;
  box-shadow: rgb(195 230 7 / 82%) 0px 0px 28px,
    rgb(225 219 15 / 93%) 0px 0px 10px;
}
header.ant-layout-header {
  background: #808080;
}
main.ant-layout-content {
  background: #808080;
}
.ant-card {
  border-radius: 39px !important;
}
button.ant-btn.exampletest {
  height: 45px;
  background: #e6f86d;
  border-radius: 9px;
  font-weight: 600;
}
h3 {
  font-weight: 700;
}
th.ant-table-cell {
  background: #e6f86d !important;
}
.flxes {
  display: flex;
  margin-top: 33px;
}

.icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 117px;
}
.file {
  margin-left: 40px;
}
section.ant-layout.ant-layout-has-sider {
  background: #808080;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e6f86d !important;
  font-weight: 700 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e6f86d !important;
  font-weight: 700 !important;
}
div#rc-tabs-0-tab-1 {
  color: #e6f86d !important;
  font-weight: 700 !important;
}
div#rc-tabs-0-tab-3 {
  color: #e6f86d !important;
  font-weight: 700 !important;
}
.ant-tabs-ink-bar {
  background: #e6f86d !important;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid #808080 !important;
}
.ant-table-wrapper.completed {
  width: 1297px;
}
.ant-card.completed-bt {
  padding: 0px 0px 32px 0px !important;
}
/* .fle{
  display: flex;
  flex-direction: column;
  
  height: 200px;
} */
.text{
  margin-top: -70px;
}
